
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: "museo_sans_rounded900";
    }
    
    .site-header {
        color: rgb(56, 231, 208);
        width: 50%;
        height: 10px; 
        display: flex;
        align-items: left;
        justify-content: left;   
    }
    .site-name {
        font-size: 2.2rem;
        font-style: italic; 
        margin-top: 1em;  
    }

    .header {
        background-color: #f7fafa;
        padding: 20px;
        top: 0;
        left: 0;
        width: 96.8%;
        position: fixed;
    }
    .main-container {
        display: flex;
        flex: 1;
        margin-top: 115px;
    }
    .sidebar {
        width: 25%;
        background-color: #9BCB53;
        padding: 20px;
        position: fixed;
    }
    .content {
        flex: 1;
        width: 75%;
        margin-left: 30%;
        padding: 30px;
        border: 25px solid white;
    }
    .menu {
        list-style: none;
        padding: 0;
    }

    .menu-item {
        margin-bottom: 10px;
    }

    .menu-item a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #333;
        transition: color 0.3s ease;
    }

    .menu-item i {
        margin-right: 10px;
    }

    .menu-item i:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    /* Additional styles for a more modern look */
    .menu {
        background-color: #f0f0f0;
        border-radius: 5px;
        padding: 10px;
    }

    .menu-item a {
        padding: 8px 12px;
    }

    .menu-item i {
        font-size: 16px;
    }

    .menu-item.selected {
      background-color: rgb(156, 156, 194);
      color: white;
      border-radius: 20px;
    }
    
    .page {
        display: none;
    }

    .footer {
        background-color: #f2f2f2;
        padding: 10px;
        margin-top: 35px; 
    }

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px;
        background-color: #f7fafa;
    }

    .search-bar input[type="text"] {
        width: 200px;
        padding: 5px;
        border: none;
        border-radius: 5px;
        margin-left: 10px;
    }

    .search-bar button {
        padding: 5px 10px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .page {
        margin-top: 20px;
    }
    
    .top-menu {
        background-color: #f2f2f2;
        padding: 20px;
        position: fixed;
        bottom: 80;
        left: 0;
        width: 100%;
        z-index: 999;
    }
    
    .top-menu ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    .top-menu li {
        margin-right: 10px;
    }
    
    .top-menu li:last-child {
        margin-right: 0;
    }
    
    .top-menu a {
        text-decoration: none;
        color: #333;
        padding: 8px 12px;
        border-radius: 4px;
        background-color: #f2f2f2;
        transition: background-color 0.3s ease;
    }
    
    .top-menu a:hover {
        background-color: #d17409;
    }
    
    .content {
        margin-top: 120px; /* Adjust the margin to provide space for the menu */
    }
    
    .statistics {
      display: flex;
      justify-content: space-between;
      margin-top: -150px;
      margin-left: -15px;
    }
    
    .statistic {
      flex: 1;
      text-align: center;
      padding: 10px;
      background-color: #9BCB53;
      border-radius: 4px;
      margin-right: 10px;
      display: flex;
      align-items: center;
    }
    
    .statistic:last-child {
      margin-right: 0;
    }
    
    .statistic-info {
      flex-grow: 1;
    }
    
    .statistic-number {
      font-size: 24px;
      font-weight: bold;
      color: #152779;
      margin-bottom: 5px;
    }
    
    .statistic h3 {
      margin-top: 5px;
      color: #333;
    }
    
    .logo {
      width: 50px;
      height: 50px;
      margin-left: 10px;
    }

    .features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }
    .feature {
      text-align: center;
      max-width: 250px;
    }

    .side-menu {
      background-color: #f0f0f0;
      padding: 10px;
    }
    
    .menu-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    .menu-item {
      cursor: pointer;
    }
    
    .email-list {
      margin-left: 200px; /* Adjust the margin value to create space for the side menu */
    }
    
    .sms-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .button-container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .button {
      display: inline-block;
      padding: 40px 30px;
      border: 2px solid #0bd693;
      border-radius: 4px;
      transition: border-color 0.3s ease;
      margin-right: 30px;
      margin-bottom: 20px;
      font-size: 14px;
      width: 20%;
    }

    .button:last-child {
      margin-right: 0; 
    }

    .button:hover {
      border-color: #e27916;
    }

    .line {
      border: none;
      height: 1px;
      background-color: #000;
      margin: 20px 0;
    }

    .button img {
      width: 20px; 
      height: auto; 
      margin-right: 5px;
    }
    
    .report-table {
      width: 100%;
      border-collapse: collapse;
    }
    
    .report-table th,
    .report-table td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    
    .report-table th {
      background-color: #f2f2f2;
      font-weight: bold;
    }
    
    .report-table tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    .container2 {
      max-width: 800px;
      margin: 0 auto;
      background-color: #9BCB53;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(221, 94, 9, 0.1);
      padding: 40px;
    }
    h1 {
      font-size: 24px;
      color: #333;
      margin-top: 0;
    }

    label {
      display: block;
      margin-bottom: 8px;
      font-size: 16px;
      color: #555;
    }

    input[type="text"],
    textarea {
      width: 100%;
      padding: 16px;
      font-size: 16px;
      border: 1px solid #66432c;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 16px;
    }

    .button1 {
      display: inline-block;
      padding: 12px 24px;
      background-color: #62a8eb;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      font-size: 16px;
      transition: background-color 0.3s ease;
    }

    .button1:hover {
      background-color: #0056b3;
    }

    .menu-item-selected {
      background-color: #6cc3d3;
      border-radius: 20px;
    }


    select 
    {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #06a04b;
        border-radius: 5px;
        box-sizing: border-box;
    }

    /* Add modern styles for the Mail List page */
    #MailList {
      padding: 20px;
    }

    .filter {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .filter label {
      margin-right: 10px;
    }

    #itemList {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
    }

    .item {
      word-wrap: break-word;
      background-color: #f9f9f9;
      border: 1px solid #12abe7;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .item h3 {
      margin-bottom: 10px;
      font-size: 14px;
      color: #12abe7;
    }

    .item p {
      font-size: 12px;
      color: #666;
    }

    /* Style for the category select dropdown */
    #category {
      padding: 8px 12px;
      border: 1px solid #12abe7;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      color: #062374;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Style for the category select dropdown options */
    #category option {
      padding: 8px 12px;
    }

    /* Style for the "All" option in the category select dropdown */
    #category option[value="all"] {
      font-weight: bold;
    }

    /* Style for the table headers */
    .report-table th {
      padding: 10px;
      background-color: #f9f9f9;
      text-align: left;
    }

    /* Style for the table rows */
    .report-table tr {
      border-bottom: 1px solid #ddd;
    }

    /* Style for the table cells */
    .report-table td {
      padding: 10px;
    }

    /* Style for the search input */
    #filterInput {
      padding: 8px;
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Style for the "Download" button */
    button[type="submit"] {
      padding: 10px 20px;
      background-color: #0bd693;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    button[type="submit"]:hover {
      background-color: #e27916;
    }

    /* Apply media query for responsive layout on smaller screens */
    @media (max-width: 768px) {
      #itemList {
        grid-template-columns: 1fr;
      }
    }

    .add-delete-buttons {
      position: absolute; /* Position the buttons inside the template-button container */
      bottom: 120px;
      right: 10px;
    }
    
    .add-button,
    .delete-button {
      padding: 8px 12px;
      margin-left: 5px;
      border: none;
      border-radius: 4px;
      background-color: #e27916;
      color: #fff;
      cursor: pointer;
    }
    
    .delete-button {
      background-color: #dc3545;
    }
    
    .add-button:hover,
    .delete-button:hover {
      background-color: #0bd693;
    }

    .floating-button-container {
      position: relative; 
      padding-bottom: 40px; 
    }
    
    .floating-button-dropdown {
      position: absolute;
      right: 0;
      bottom: 45px;
      display: none;
      padding: 5px; 
      background-color: #fff; 
      border: 1px solid #ccc; 
      border-radius: 4px;
    }
    
    .floating-button-container:hover .floating-button-dropdown {
      display: block;
    }

    .cancel-button{
      margin-top: 20px;
    }