<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mfs Automation</title>
  <link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
  <!-- https://fonts.google.com/ -->
  <link rel="stylesheet" href="/static/css/tooplate-wave-cafe.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!--
-->
</head>

<body>
  <div class="tm-container">
    <div class="tm-row">

      <!-- Site Header -->
      <div class="tm-left">
        <h1 class="tm-site-name">Hello, {{username|capitalize}} &#128075;</h1>
        <div class="tm-left-inner">
          <div class="tm-site-header">
            <img src="/static/images/email3.png" alt="logo" style="width:80px;height:80px;" />
            <h1 class="tm-site-name">MFS Mail Aut</h1>
          </div>
          <nav class="tm-site-nav">
            <ul class="tm-site-nav-ul">
              <li class="tm-page-nav-item">
                <a href="#drink" class="tm-page-link active">
                  <i class="fas fa-mug-ussd tm-page-link-icon"></i>
                  <span>Mail List</span>
                </a>
              </li>
              <li class="tm-page-nav-item">
                <a href="#about" class="tm-page-link">
                  <i class="fas fa-users tm-page-link-icon"></i>
                  <span>Reports</span>
                </a>
              </li>
              <li class="tm-page-nav-item">
                <a href="#special" class="tm-page-link">
                  <i class="fas fa-glass-martini tm-page-link-icon"></i>
                  <span>Email Templates</span>
                </a>
              </li>
              <li class="tm-page-nav-item">
                <a href="#contact" class="tm-page-link">
                  <i class="fas fa-comments tm-page-link-icon"></i>
                  <span>Send Mail</span>
                </a>
              </li>
            </ul>
          </nav>
          <footer class="tm-site-footer">
            <p class="tm-black-bg tm-footer-text">Copyright 2023 MFS
              | MFS Technologies: <a href="https://www.mfs.com" class="tm-footer-link" rel="sponsored"
                target="_parent">Limited</a></p>
          </footer>
        </div>
      </div>
      <div class="tm-right">
        <main class="tm-main">
          <div id="drink" class="tm-page-content">
            <!-- Mail List Page -->
            <nav class="tm-black-bg tm-drinks-nav">
              <ul>
                <li>
                  <a href="#" class="tm-tab-link active" data-id="sms">SMS</a>
                </li>
                <li>
                  <a href="#" class="tm-tab-link" data-id="ussd">USSD</a>
                </li>
                <li>
                  <a href="#" class="tm-tab-link" data-id="email">EMAIL</a>
                </li>
              </ul>
            </nav>

            <div id="sms" class="tm-tab-content">
              {% for record in records %}
              {% if record.service=="SMS"%}
              <div class="tm-list">
                <div class="tm-list-item">
                  <img src="/static/images/email2.png" alt="Image" style="width:100px;height:100px;"
                    class="tm-list-item-img">
                  <div class="tm-black-bg tm-list-item-text">
                    <h3 class="tm-list-item-name">{{record.name}}<span
                        class="tm-list-item-price">{{record.email}}</span></h3>
                    <p class="tm-list-item-description">Here is a short description for the item.</p>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>

            <div id="ussd" class="tm-tab-content">
              {% for record in records %}
              {% if record.service=="USSD"%}
              <div class="tm-list">
                <div class="tm-list-item">
                  <img src="/static/images/email2.png" alt="Image" style="width:100px;height:100px;"
                    class="tm-list-item-img">
                  <div class="tm-black-bg tm-list-item-text">
                    <h3 class="tm-list-item-name">{{record.name}}<span
                        class="tm-list-item-price">{{record.email}}</span></h3>
                    <p class="tm-list-item-description">Here is a short description for the item.</p>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>

            <div id="email" class="tm-tab-content">
              {% for record in records %}
              {% if record.service=="SMS"%}
              <div class="tm-list">
                <div class="tm-list-item">
                  <img src="/static/images/email2.png" alt="Image" style="width:100px;height:100px;"
                    class="tm-list-item-img">
                  <div class="tm-black-bg tm-list-item-text">
                    <h3 class="tm-list-item-name">{{record.name}}<span
                        class="tm-list-item-price">{{record.email}}</span></h3>
                    <p class="tm-list-item-description">Here is a short description for the item.</p>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <div class="button-container">
              <button class="rounded-button" onclick="addPopup(event)">Add</button>
              <button class="rounded-button" onclick="deleteService(event)">Delete</button>
            </div>
            <!-- end Mail Menu Page -->
          </div>

          <!-- Report Page -->
          <div id="about" class="tm-page-content">
            <div class="tm-black-bg tm-mb-20 tm-about-box-1">
              <h2 class="tm-text-primary tm-about-header">Logs</h2>
              <div class="tm-list-item tm-list-item-2">
                <table>
                  <thead>
                    <tr>
                      <th>Recipient</th>
                      <th>Subject</th>
                      <th>Timestamp</th>
                      <th>Service</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in email_report[-5:]|reverse %}
                    <tr>
                      <td>{{ item['recipient'] }}</td>
                      <td>{{ item['subject'] }}</td>
                      <td>{{ item['timestamp'] | format_timestamp }}</td>
                      <td>{{ item['service'] }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <a href="/download_data" download>
                <button type="submit" value="Submit" class="tm-btn-primary tm-align-right">
                  Download </button> </a>
            </div>
          </div>
          <!-- end Menu Page -->

          <!--  Templates Page -->
          <div id="special" class="tm-page-content">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                {% for template in templates %}
                  <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                {% endfor %}
              </ol>
          
              <div class="carousel-inner">
                {% for template in templates %}
                  <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <div class="tm-black-bg tm-special-item">
                      <img src="/static/images/mail.png" alt="Image" style="width:100px;height:100px;">
                      <div class="tm-special-item-description">
                        <h2 class="tm-text-primary tm-special-item-title">{{ template.service }}</h2>
                        <p class="tm-special-item-text">
                          {{ template.salutation }}<br><br><u>{{ template.heading }}</u><br><br>{{ template.message }}<br><br>{{ template.endtag }}
                        </p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
          
              <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          
            <div class="button-container">
              <button class="rounded-button" onclick="addPopup(event)">Add</button>
              <button class="rounded-button">Delete</button>
            </div>
          </div>          
          <!-- end Templates Page -->

          <!-- Send Mail Page -->
          <div id="contact" class="tm-page-content">
            <div class="tm-black-bg tm-contact-text-container">
              <h2 class="tm-text-primary">Send Mail</h2>
              <p>This Allows you to automate the process of sending emails to your subscribers. Add your subscribers to
                an email list within the platform. </p>
            </div>
            <div class="tm-black-bg tm-contact-form-container tm-align-right">
              <form method="post" action="{{ url_for('submit') }}" id="contact-form">
                <label for="items">To:</label>
                <div class="tm-form-group">
                  <select id="items" name="items">
                    {% for template in templates %}
                    <option value="{{template.service|lower}}">{{template.service}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div>
                  <button type="submit" value="Submit"
                    onclick="showLoading(); setTimeout(openPopup,2000); return false;"
                    class="tm-btn-primary tm-align-right">
                    Compose
                  </button>
                  <img src="/static/images/loading.gif" alt="Loading" id="loading"
                    style="width: 100px; height: 100px; display: none;">
                </div>
              </form>
              <div class="popup-container" id="popup-container" onclick="closePopup();">
                <div class="popup-box" id="popup-box">
                  <span class="close-button" onclick="closePopup();">&times;</span>
                </div>
              </div>
            </div>
          </div>
          <script>
            function openPopup() {
              // Get the selected value from the dropdown list
              var selectedValue = document.getElementById('items').value;

              // Send an AJAX request to your Flask route
              var xhr = new XMLHttpRequest();
              xhr.open('POST', '/process_selected_value');
              xhr.setRequestHeader('Content-Type', 'application/json');
              xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                  // Handle the response from the server, if needed
                  console.log(xhr.responseText);
                }
              };
              xhr.send(JSON.stringify({ selectedValue: selectedValue }));

              // Show the popup container
              document.getElementById('popup-container').style.display = 'block';

              // Load the new page into the popup box
              var popupBox = document.getElementById('popup-box');
              popupBox.innerHTML = '<iframe src="/page/' + selectedValue + '" width="100%" height="100%"></iframe>';
              document.getElementById("loading").style.display = "none";
            }

            function submitForm() {
              var selectedOption = document.getElementById('items').value;
              var form = document.getElementById('contact-form');

              // Append a hidden input field to the form with the selected option value
              var hiddenInput = document.createElement('input');
              hiddenInput.type = 'hidden';
              hiddenInput.name = 'selected_option';
              hiddenInput.value = selectedOption;
              form.appendChild(hiddenInput);

              // Submit the form
              form.submit();
            }
            function showLoading() {
              document.getElementById("loading").style.display = "block";
            }
            function closePopup() {
              // Hide the popup container
              document.getElementById('popup-container').style.display = 'none';
            }
            function addPopup(event) {
              // Get the coordinates of the button clicked
              var buttonRect = event.target.getBoundingClientRect();
              var buttonX = buttonRect.left;
              var buttonY = buttonRect.top;

              // Calculate the desired position for the pop-up window
              var popupWidth = 550;
              var popupHeight = 250;
              var popupX = buttonX - popupWidth / 2;
              var popupY = buttonY - popupHeight;

              // Open the new window at the desired position
              var popupWindow = window.open('', '_blank', 'width=' + popupWidth + ',height=' + popupHeight + ',left=' + popupX + ',top=' + popupY);

              // Create the HTML content for the pop-up form
              var formContent = `
                <html>
                <head>
                  <title>Add New Template</title>
                  <style>
                  .form-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                  }
                </style>
                </head>
                <body>
                  <div class="form-container">
                  <form method="POST" action="{{ url_for('add_option') }}">
                    <br><br>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required><br><br><br>
                    <button type="submit">Add</button>
                  </form>
                  </div>
                </body>
                </html>
              `;

              // Write the HTML content to the new window
              popupWindow.document.write(formContent);
            }
          </script>
          <!-- Send Mail Page -->
        </main>
      </div>
    </div>

  </div>

  <!-- Background video -->
  <div class="tm-video-wrapper">
    <i id="tm-video-control-button" class="fas fa-pause"></i>
    <video autoplay muted loop id="tm-video">
      <source src="/video/wave-cafe-video-bg.mp4" type="video/mp4">
    </video>
  </div>

  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>

    function setVideoSize() {
      const vidWidth = 1920;
      const vidHeight = 1080;
      const windowWidth = window.innerWidth;
      const windowHeight = window.innerHeight;
      const tempVidWidth = windowHeight * vidWidth / vidHeight;
      const tempVidHeight = windowWidth * vidHeight / vidWidth;
      const newVidWidth = tempVidWidth > windowWidth ? tempVidWidth : windowWidth;
      const newVidHeight = tempVidHeight > windowHeight ? tempVidHeight : windowHeight;
      const tmVideo = $('#tm-video');

      tmVideo.css('width', newVidWidth);
      tmVideo.css('height', newVidHeight);
    }

    function openTab(evt, id) {
      $('.tm-tab-content').hide();
      $('#' + id).show();
      $('.tm-tab-link').removeClass('active');
      $(evt.currentTarget).addClass('active');
    }

    function initPage() {
      let pageId = location.hash;

      if (pageId) {
        highlightMenu($(`.tm-page-link[href^="${pageId}"]`));
        showPage($(pageId));
      }
      else {
        pageId = $('.tm-page-link.active').attr('href');
        showPage($(pageId));
      }
    }

    function highlightMenu(menuItem) {
      $('.tm-page-link').removeClass('active');
      menuItem.addClass('active');
    }

    function showPage(page) {
      $('.tm-page-content').hide();
      page.show();
    }

    $(document).ready(function () {

      /***************** Pages *****************/

      initPage();

      $('.tm-page-link').click(function (event) {

        if (window.innerWidth > 991) {
          event.preventDefault();
        }

        highlightMenu($(event.currentTarget));
        showPage($(event.currentTarget.hash));
      });


      /***************** Tabs *******************/

      $('.tm-tab-link').on('click', e => {
        e.preventDefault();
        openTab(e, $(e.target).data('id'));
      });

      $('.tm-tab-link.active').click(); // Open default tab


      /************** Video background *********/

      setVideoSize();

      // Set video background size based on window size
      let timeout;
      window.onresize = function () {
        clearTimeout(timeout);
        timeout = setTimeout(setVideoSize, 100);
      };

      // Play/Pause button for video background      
      const btn = $("#tm-video-control-button");

      btn.on("click", function (e) {
        const video = document.getElementById("tm-video");
        $(this).removeClass();

        if (video.paused) {
          video.play();
          $(this).addClass("fas fa-pause");
        } else {
          video.pause();
          $(this).addClass("fas fa-play");
        }
      });
    });

  </script>
</body>

</html>